@charset "UTF-8";

html, body {
    min-height: 100vh;

}

:root {
    --azulpetroleo:rgb(161, 155, 232);
    --azulclaro:rgb(179, 173, 250);
    --azulheader:rgb(156, 148, 246);
    --azulheader2:rgb(143, 134, 242);
    --branco:white;
    --preto:black;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --titulos: Arial black;
    --textos: Arial;

}

*{
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--azulheader2);
}

header > h1 {
    font-family: var(--titulos);
    text-align: left;
    font-variant: small-caps;
    font-size: 8vw;
}

header {
    background-image: url(https://img.freepik.com/fotos-premium/fundo-de-ceu-ensolarado-com-nuvens_87394-14922.jpg?w=1380);
    background-size: cover;
    background-position: top;
    margin: auto;
    color: #fff;
    text-align: left;
    padding: 20px;
}

nav {
    background-image: url(https://img.freepik.com/fotos-premium/fundo-de-ceu-ensolarado-com-nuvens_87394-14922.jpg?w=1380);
    background-size: cover;
    background-position: center;
    margin: auto;
    display: flex;
    justify-content: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--azulpetroleo); /* Mudar a cor ao passar o mouse conforme desejado */
}

section.normal {
    background-color: #f0f0f0;
    color: black;    
    box-shadow: inset 6px 6px 13px 0px rgba(93, 92, 92, 0.561);
}

section.imagem {
    background-color: rgb(112, 110, 110);
    color: #000000;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(93, 92, 92, 0.561);
        }

      
section.imagem > p {
    background-color: rgba(255, 255, 255, 0.411);
    padding: 20px;

}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    padding-right: 50vw;
    line-height: 4vw;
}

section#img01 {
   background-image: url(https://img.freepik.com/fotos-gratis/casal-de-tiro-medio-posando-juntos_23-2148984296.jpg?w=900&t=st=1706282768~exp=1706283368~hmac=e1267df8b7fb5cf13b02b3075731bfcb92c13b4948ad8aa1bc01550caf39047f);
   background-position: right top;
    background-size: cover;
}

section#img02 {
    background-image: url(https://img.freepik.com/fotos-gratis/avos-felizes-usando-seu-laptop-digital_329181-14741.jpg?w=900&t=st=1706282798~exp=1706283398~hmac=5baa948e0ce7e43f892550c2a6d2563c6da52faab257d226e9a26b3b3abf6c10);
    background-position: right top;
    background-size: cover;
}

main {
   
    text-align: justify;


    margin:auto
}

main h1 {
    color: var(--azulpetroleo);
    font-family: var(--titulos);
}

footer {
    text-align: center;
    background-color: var(--preto);
    color: var(--branco);
    padding: 15px;
}